.container {
  background-color: #0d1117;
  height: 8vh;
  color: white;
  padding: 1em 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Epilogue;
}

.firstContainer {
  height: 8vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  width: 12vw;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height:8vh;
}

.profile {
  max-height:6vh;
}

.button {
  border: yellow 1px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: Epilogue;
  height: 5vh;
}

.login {
  background-color: transparent;
  color: yellow;
}

.login:hover {
  color: black;
  background-color: yellow;
}

.signUp {
  color: black;
  background-color: yellow;
}

.signUp:hover {
  background-color: transparent;
  color: yellow;
}

.span {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.span:hover {
  color: rgb(206, 201, 201);
}