.container {
  color: white;
  padding: 1em 2.5em;
  margin: 2.5em 0;
  border: solid rgb(97, 97, 97) 1.5px;
  border-radius: 10px;
  background-color: #32363c;
  font-family: Epilogue;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.container__withIcons {
  color: white;
  padding: 1em 2.5em;
  margin: 2.5em 0;
  margin-right: 3em;
  border: solid rgb(97, 97, 97) 1.5px;
  border-radius: 10px;
  background-color: #32363c;
  font-family: Epilogue;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: var(--fs-50);
}

.span {
  font-weight: bold;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  min-width: 20%;
}

.img {
  max-height: 6vh;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.submitButton {
  border: none;
  background-color: gray;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: Epilogue;
  height: 4vh;
}