.container {
  display: flex;
  flex-direction: column;
  background-color: #0d1117;
  padding: 1em 5em;
  font-family: Epilogue;
  min-height: 100vh;
}

.p {
  color: white;
  font-size: var(--fs-60);
}